$resizerSize: 5px;
$itemBackgroundColor: #212121;
$layoutBackgroundColor: #0e0e0e;
$layoutForegroundColor: #f3f3f3;

%expand {
  width: 100%;
  height: 100%;
}

%resizer {
  flex: 0 0 auto;
  user-select: none;
  &:hover {
    background-color: #ccc;
  }
}

%grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  @extend %expand;
}

.untitled-layout {
  &__layout {
    @extend %grid;
    background-color: $layoutBackgroundColor;
    color: $layoutForegroundColor;
  }

  &__row {
    @extend %grid;
    flex-direction: row;
    .untitled-layout__resizer {
      @extend %resizer;
      width: $resizerSize;
      height: 100%;
      &:hover {
        cursor: col-resize;
      }
    }
  }

  &__column {
    @extend %grid;
    flex-direction: column;
    .untitled-layout__resizer {
      @extend %resizer;
      width: 100%;
      height: $resizerSize;
      &:hover {
        cursor: row-resize;
      }
    }
  }

  &__stack {
    @extend %expand;
    display: flex;
    flex-direction: column;
    &__item-tabs {
      .untitled-layout__item-tab {
        display: flex;
        @extend %expand;
        line-height: 32px;
        height: 32px;
        max-height: 32px;
        .untitled-layout__item-tab__label {
          display: inline-block;
          padding: 0 10px 0 15px;
          background-color: $itemBackgroundColor;
        }
      }
    }
    &__items {
      @extend %expand;
      .untitled-layout__item {
        @extend %expand;
        background-color: $itemBackgroundColor;
        transition: opacity 0.5s ease-in;
        &.active {
          opacity: 1;
        }
        &.maximize {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $layoutBackgroundColor;
        }
        .untitled-layout__item__container {
          .untitled-layout__item__body {
            padding: 15px;
          }
        }
      }
    }
  }
}
