$layoutBackgroundColor: #0e0e0e;
$layoutForegroundColor: #f3f3f3;
$itemBackgroundColor: #212121;
$resizerSize: 5px;
$resizerColor: #ccc;
$scrollbarSize: 8px;
$scrollbarBackgroundColor: $itemBackgroundColor;
$scrollbarForegroundColor: #313131;
$dragAndDropColor: #313131;
$dragAndDropBorder: $layoutForegroundColor dashed 3px;
$focusedForegroundColor: #fb1;

%expand {
  width: 100%;
  height: 100%;
}

%resizer {
  flex: 0 0 auto;
  user-select: none;
  &:hover {
    background-color: $resizerColor;
  }
}

%dragAndDrop {
  content: '';
  pointer-events: none;
  background-color: $dragAndDropColor;
  border: $dragAndDropBorder;
  opacity: 0.75;
}

%full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%topSide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
}

%rightSide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}

%bottomSide {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

%leftSide {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}

%grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  @extend %expand;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    background-color: $scrollbarBackgroundColor;
    width: $scrollbarSize;
    height: $scrollbarSize;
  }
  &:hover {
    &::-webkit-scrollbar {
      width: $scrollbarSize;
      height: $scrollbarSize;
    }
    &::-webkit-scrollbar-track {
      background-color: $scrollbarBackgroundColor;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbarForegroundColor;
      border: 3px solid $scrollbarForegroundColor;
      border-radius: 4px;
    }
  }
}

.rubber-dock {
  &__layout {
    @extend %grid;
    position: relative;
    background-color: $layoutBackgroundColor;
    color: $layoutForegroundColor;
  }

  &__row {
    @extend %grid;
    flex-direction: row;
    >.rubber-dock__resizer {
      @extend %resizer;
      width: $resizerSize;
      height: 100%;
      &:hover {
        cursor: col-resize;
      }
    }
  }

  &__column {
    @extend %grid;
    flex-direction: column;
    >.rubber-dock__resizer {
      @extend %resizer;
      width: 100%;
      height: $resizerSize;
      &:hover {
        cursor: row-resize;
      }
    }
  }

  &__hstack {
    @extend %expand;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    &__item-tabs {
      @include scrollbar();
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      overflow-x: scroll;
      overflow-y: hidden;
      >.rubber-dock__item-tab__button-bar {
        @extend %expand;
        display: flex;
        align-content: center;
        justify-content: flex-end;
        opacity: 1;
        i {
          height: 32px;
          margin-top: 5px;
          &:hover {
            color: $focusedForegroundColor;
          }
        }
      }
      .rubber-dock__item-tab {
        @extend %expand;
        background-color: $itemBackgroundColor;
        margin-right: 5px;
        display: flex;
        flex: 0 0;
        flex-basis: content;
        line-height: 32px;
        height: 32px;
        max-height: 32px;
        white-space: nowrap;
        transition: opacity 0.5s ease-in;
        opacity: 0;
        &.active {
          opacity: 1;
        }
        .rubber-dock__item-tab__label {
          display: inline-block;
          padding: 0 10px 0 15px;
        }
        .rubber-dock__item-tab__button-bar {
          display: flex;
          align-content: center;
          justify-content: center;
          opacity: 1;
          i {
            height: 32px;
            margin-top: 2px;
            &:hover {
              color: $focusedForegroundColor;
            }
          }
        }
        &.focused {
          .rubber-dock__item-tab__label {
            color: $focusedForegroundColor;
          }
        }
      }
    }
    &__items {
      @extend %expand;
      position: relative;
      .rubber-dock__item {
        @extend %expand;
        @include scrollbar();
        display: none;
        overflow: auto;
        background-color: $itemBackgroundColor;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        &.active.focused {
          display: block;
          opacity: 1;
        }
        &.fullscreen {
          @extend %full;
          display: block;
          opacity: 1;
          position: fixed;
          z-index: 1000;
        }
        .rubber-dock__item__container {
          .rubber-dock__item__body {
            padding: 15px;
          }
        }
      }
    }
  }

  &__vstack {
    @extend %expand;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
    &__item-tabs {
      @include scrollbar();
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      overflow-x: hidden;
      overflow-y: scroll;
      >.rubber-dock__item-tab__button-bar {
        @extend %expand;
        display: flex;
        align-content: center;
        justify-content: flex-end;
        opacity: 1;
        i {
          height: 32px;
          margin-top: 5px;
          &:hover {
            color: $focusedForegroundColor;
          }
        }
      }
      .rubber-dock__item-tab {
        @extend %expand;
        background-color: $itemBackgroundColor;
        margin-bottom: 5px;
        display: flex;
        flex: 0 0;
        flex-basis: content;
        line-height: 32px;
        height: 32px;
        max-height: 32px;
        white-space: nowrap;
        transition: opacity 0.5s ease-in;
        opacity: 0;
        &.active {
          opacity: 1;
        }
        .rubber-dock__item-tab__label {
          width: 100%;
          display: inline-block;
          padding: 0 10px 0 15px;
        }
        .rubber-dock__item-tab__button-bar {
          display: flex;
          align-content: center;
          justify-content: center;
          opacity: 1;
          i {
            margin-top: 2px;
            &:hover {
              color: $focusedForegroundColor;
            }
          }
        }
        &.focused {
          .rubber-dock__item-tab__label {
            color: $focusedForegroundColor;
          }
        }
      }
    }
    &__items {
      @extend %expand;
      position: relative;
      .rubber-dock__item {
        @extend %expand;
        @include scrollbar();
        display: none;
        overflow: auto;
        background-color: $itemBackgroundColor;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        &.active.focused {
          display: block;
          opacity: 1;
        }
        &.fullscreen {
          @extend %full;
          display: block;
          opacity: 1;
          position: fixed;
          z-index: 1000;
        }
        .rubber-dock__item__container {
          .rubber-dock__item__body {
            padding: 15px;
          }
        }
      }
    }
  }

  &__psuedo-row-before::after {
    @extend %dragAndDrop;
    @extend %topSide;
  }

  &__pseudo-row-after::after {
    @extend %dragAndDrop;
    @extend %bottomSide;
  }

  &__psuedo-column-before::after {
    @extend %dragAndDrop;
    @extend %leftSide;
  }

  &__pseudo-column-after::after {
    @extend %dragAndDrop;
    @extend %rightSide;
  }
}

.grid-expander {
  @extend %expand;
  position: absolute;
  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
}

.dragged {
  @extend %dragAndDrop;
  filter: grayscale(100%);
}

.dragged-before-column:after {
  @extend %dragAndDrop;
  @extend %topSide;
}

.dragged-before-row:after {
  @extend %dragAndDrop;
  @extend %leftSide;
}

.dragged-after-column:after {
  @extend %dragAndDrop;
  @extend %bottomSide;
}

.dragged-after-row:after {
  @extend %dragAndDrop;
  @extend %rightSide;
}

.layout-drop-bar {
  position: absolute;
  background-color: $layoutBackgroundColor;
  opacity: 0.9;
  right: 0;
  i:hover {
    color: $focusedForegroundColor;
  }
}
