$layoutBackgroundColor: #0e0e0e;
$layoutForegroundColor: #f3f3f3;
$itemBackgroundColor: #212121;
$resizerSize: 5px;
$resizerColor: #ccc;
$scrollbarBackgroundColor: $itemBackgroundColor;
$scrollbarForegroundColor: #313131;
$dragAndDropColor: #313131;
$dragAndDropBorder: $itemBackgroundColor dashed 3px;
$focusedForegroundColor: #fb1;

%expand {
  width: 100%;
  height: 100%;
}

%resizer {
  flex: 0 0 auto;
  user-select: none;
  &:hover {
    background-color: $resizerColor;
  }
}

%dragAndDrop {
  content: '';
  background-color: $dragAndDropColor;
  border: $dragAndDropBorder;
  opacity: 0.75;
}

%full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%topSide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
}

%rightSide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}

%bottomSide {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

%leftSide {
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}

%grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  @extend %expand;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    visibility: hidden;
    width: 12px;
  }
  &:hover {
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: $scrollbarBackgroundColor;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbarForegroundColor;
      border: 3px solid $scrollbarBackgroundColor;
      border-radius: 20px;
    }
  }
}

.rubber-dock {
  &__layout {
    @extend %grid;
    background-color: $layoutBackgroundColor;
    color: $layoutForegroundColor;
  }

  &__row {
    @extend %grid;
    flex-direction: row;
    .rubber-dock__resizer {
      @extend %resizer;
      width: $resizerSize;
      height: 100%;
      &:hover {
        cursor: col-resize;
      }
    }
  }

  &__column {
    @extend %grid;
    flex-direction: column;
    .rubber-dock__resizer {
      @extend %resizer;
      width: 100%;
      height: $resizerSize;
      &:hover {
        cursor: row-resize;
      }
    }
  }

  &__stack {
    @extend %expand;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    &__item-tabs {
      display: flex;
      flex-direction: row;
      .rubber-dock__item-tab {
        @extend %expand;
        @include scrollbar();
        display: flex;
        line-height: 32px;
        height: 32px;
        max-height: 32px;
        transition: opacity 0.5s ease-in;
        opacity: 0;
        &.active {
          opacity: 1;
        }
        .rubber-dock__item-tab__label {
          display: inline-block;
          padding: 0 10px 0 15px;
          background-color: $itemBackgroundColor;
        }
        .rubber-dock__item-tab__button-bar {
          opacity: 1;
        }
        &.focused {
          .rubber-dock__item-tab__label {
            color: $focusedForegroundColor;
          }
        }
      }
    }
    &__items {
      @extend %expand;
      .rubber-dock__item {
        @extend %expand;
        @include scrollbar();
        display: none;
        overflow: auto;
        background-color: $itemBackgroundColor;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        &.active.focused {
          display: block;
          opacity: 1;
        }
        &.fullscreen {
          @extend %full;
          position: fixed;
          z-index: 1000;
        }
        .rubber-dock__item__container {
          .rubber-dock__item__body {
            padding: 15px;
          }
        }
      }
    }
  }

  &__psuedo-row-before::after {
    @extend %dragAndDrop;
    @extend %topSide;
  }

  &__pseudo-row-after::after {
    @extend %dragAndDrop;
    @extend %bottomSide;
  }

  &__psuedo-column-before::after {
    @extend %dragAndDrop;
    @extend %leftSide;
  }

  &__pseudo-column-after::after {
    @extend %dragAndDrop;
    @extend %rightSide;
  }
}
